<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Vertex Form</title>
</head>
<body class="bg-dark">
    <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center pt-4 text-light">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4 text-info">Parabola Finder</span>
          </a>
      
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link text-light">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('vertex') }}" class="nav-link active bg-info text-light" aria-current="page">Vertex Method</a></li>
            <li class="nav-item"><a href="{{ url_for('three_points') }}" class="nav-link text-light">Three Point Method</a></li>
          </ul>
        </header>
        <hr class="border border-2 border-white">
      </div>

    <div class="row row-cols-2">
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card neon-card p-4 text-light">
            <h3 class="text-center neon-title">Vertex Form</h3>
            <form method="post">
              {{ form.csrf_token }}
              <div class="form-group">
                <label class="text-light form-label">{{ form.vertex.label }}</label>
                {{ form.vertex(class="form-control neon-input", placeholder="(x,y)") }}
                <ul>
                {% for error in form.vertex.errors %}
                  <li class="text-danger">{{error}}</li>
                {% endfor %}
                </ul>
                <label class="text-light form-label mt-3">{{ form.point.label }}</label>
                {{ form.point(class="form-control neon-input", placeholder="(x,y)") }}
                <ul>
                {% for error in form.point.errors %}
                  <li class="text-danger">{{error}}</li>
                {% endfor %}
                </ul>
              </div>
              {{ form.submit(class="btn neon-btn w-100 mt-4") }}
            </form>
            {% if message %}
              <h5 class="text-warning mt-4 text-center">Vertex Form:</h5>
              <h5 class="text-warning mt-4 text-center">{{ message }}</h5>
              <h5 class="text-warning mt-4 text-center">General Form:</h5>
              <h5 class="text-warning mt-4 text-center">{{ general }}</h5>
            {% endif %}
        </div>
      </div>

      <div class="col ml-1">
        <div class="border border-info border-3" id="calculator" style="width: 600px; height: 100vh;" expressions="false" keypad="false"></div>
      </div>
    </div>
    
    <script src="https://www.desmos.com/api/v1.9/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    <script>
      var x_b = {{ x_b or 0 }};
      var l_y = {{ l_y or -5 }};
      var m_y = {{ m_y or 5 }};
      var elt = document.getElementById('calculator');
      var calculator = Desmos.GraphingCalculator(elt, {
        expressions: false,
        keypad: false,
        settingsMenu: false,
        zoomButtons: false,
      });
      calculator.setMathBounds({
        left: (x_b*-1) - 5,
        right: x_b + 5,
        bottom: l_y - 5,
        top: m_y + 5
      });
      calculator.setExpression({ id: 'graph1', latex: "{{ solution }}"});
      calculator.setExpression({ id: 'vertex', latex: "{{ vertex }}", color: '#FF0000'});
      calculator.setExpression({ id: 'point', latex: "{{ point }}", color: '#000000'});
    </script>
</body>
</html>